git+https://github.com/huggingface/transformers.git@main 
bitsandbytes 
git+https://github.com/huggingface/peft.git@e536616888d51b453ed354a6f1e243fecb02ea08
datasets==2.10.1
wandb
git+https://github.com/huggingface/accelerate

